<h1>Diaries/h1>

<h2>Important Jobs</h2>
<p><%= important_job.content %></p>

<h2>Achieve Todos</h2>
<p><%= achieve_todos.content %></p>

<h2>Achieve Goods</h2>
<p><%= achieve_goods.content %></p>

<h2>Reflection Points</h2>
<p><%= reflection_point.content %></p>
